@font-face {
    font-family: 'Nesathoberyl-BW9j3';
    src: url('../fonts/Nesathoberyl-BW9j3.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#main {width: 100%; padding:0;}

.content-asset p {margin:0 auto;}

.breadcrumb {display:none;}

/* Style for the full-link anchor tag */
.full-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20; /* Ensure the link is above other content */
}

.parallax {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    perspective: 1000px; /* Set the perspective depth */
}

.parallax::before {
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; /* Center the background image */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out; /* Smooth transition for the image */
    z-index: -1; /* Ensure the image is behind other content */
}

.parallax.one::before {
    background-image: url(../images/london.jpg);
    background-position: center 43%;
}

.parallax.two::before {
    background-image: url(../images/dubai.jpg);
    background-position: center 60%;
}

.parallax:hover::before {
    transform: scale(1.1); /* Zoom in the parallax image */
}

.parallax:hover {
    cursor:crosshair;
    
}


.parallax button {
    background-color: black;
    padding: 15px;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    color: white;
    position: absolute;
    top: 40%;
    right: 10%;
}

.berylimg {
    width: clamp(200px, 15vw, 600px);
    height: auto;
    position: absolute;
    top: 20%;
    right: 10%;
}

body { background-color: black;}

.center-title {
    font-family: 'Nesathoberyl-BW9j3', sans-serif;
    color: azure;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* mix-blend-mode: difference;  */
    font-size: 3vw;
    position: fixed;
    top: 5px; /* Position from the top edge */
    left: 20px; /* Position from the left edge */
    text-align: left;
    white-space: nowrap; /* Prevent text from wrapping */
}

.muted {
    color: rgba(232, 219, 219, 0.8);
}

footer {
    height:80px;
}
